// Colors
@import "../base/colors";

// Fonts
@import "../base/fonts";

$search-position: 27px;

.header {
  position: relative;
  background: $accent;
  margin: 0 0 ($search-position + 40);
  color: $white;

  // Header Text
  &-text {
    padding: 100px 0;
  }

  .page-title {
    color: inherit;
  }

  .sub-title {
    margin: 0;
  }

  // Header Nav Toggle
  &-nav-toggle {
    color: $white;
    font-size: 30px;
  }

  // Header Search
  &-search {
    background: $white;
    width: 100%;
    margin: (-$search-position) 0;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba($black, 0.2);
    font-size: 18px;
    overflow: hidden;

    .input {
      display: block;
      width: 100%;
    }

    .btn {
      background: $white;
      border-radius: 0;
      color: $accent;

      &:hover {
        background: darken($white, 5%);
      }
    }
  }
}