template(name='nav')
  div(class='nav-panel')

    div(class='nav-header')
      a(class='logo')
        img(src='img/logo.svg')

    nav(class='nav')
      ul
        each items
          li: a(class=isActive
                href=pathFor(name))= name